body {
    font-family: Georgia, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote-box {
    max-width: 400px;
    margin: 15% auto 15% auto;
    border: 3px solid blue;
    border-radius: 8px;
    padding: 10px;
    text-align:center
}
  
#text {
    font-weight: bold;
    font-size: 1.6em;
}
  
#buttons {
    display: flex;
    justify-content: space-between;
}

#new-quote {
    font-family: Georgia, serif;
    padding: 7px;
    border-radius: 20px;
    box-shadow: 10px;
}

#new-quote:hover {
    background-color: blue;
    color: white;
}

.icon {
    font-size:2em;
}